body {
    font-family: "Poppins" , sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}


body::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(4px);
}


* {
    padding: 0px;
    margin: 0px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

a {
    cursor: pointer;
    border: 6px solid #53f753;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-style: outset;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 120px;
}

a:hover {
    border: 6px solid #8c00ff;
    border-style: outset;
}